<div class="card widget">
    <div class="card-content">
        <h3 class="menu-label">
            音乐
        </h3>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width='100%' height=52 src="//music.163.com/outchain/player?type=2&id=497616880&auto=1&height=32"></iframe>
    </div>
</div>