/* roboto-mono-regular - latin */

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(Robot Mono), url('../fonts/roboto-mono-v6-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Robot Slab), url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Robot), url('../fonts/Roboto-Medium.ttf') format('ttf');
}