/* roboto-mono-regular - latin */

/* @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: local(Robot Mono), url('../fonts/roboto-mono-v6-latin-regular.woff') format('woff');
} */