.post {
    box-shadow: 0px 2px 23px 0px var(--box-shadow);
    width: 100%;
    max-width: 900px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    word-break: break-all;
    @media (--tablet) {
        max-width: 660px;
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
    }
    &-meta {
        font-size: 1rem;
        margin-bottom: 10px;
        @media (--phone) {
            font-size: .85rem;
        }
    }
    &-title {
        font-size: 2.4rem;
        margin: 0 0 20px;
        /* 处理title过长 */
        text-overflow: ellipsis;
        overflow: hidden;
        @media (--phone) {
            font-size: 2rem;
        }
        a {
            text-decoration: none;
        }
    }
    &-tags {
        display: block;
        margin-bottom: 20px;
        font-size: 1rem;
        opacity: .5;
        a {
            text-decoration: none;
        }
    }
    &-content {
        margin-top: 30px;
    }
    &-cover {
        /* margin: 40px -50px; */
        width: 860px;
        max-height: 300px;
        img {
            border-radius: 8px;
            box-shadow: 0 12px 40px rgba(0, 0, 0, .15);
        }
        @media (--tablet) {
            margin: 20px 0;
            width: 100%;
        }
    }
}

.post--regulation {
    h1 {
        justify-content: center;
    }
    h2 {
        justify-content: center;
        margin-bottom: 10px;
        &+h2 {
            margin-top: -10px;
            margin-bottom: 20px;
        }
    }
}